### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
schools_csv_path = "Resources/schools_complete.csv"
students_csv_path = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
schools_data_df = pd.read_csv(schools_csv_path, encoding="utf-8")
students_data_df = pd.read_csv(students_csv_path, encoding="utf-8")

# Combine the data into a single dataset.  
students_schools_merge_df = pd.merge(students_data_df, schools_data_df, how="left", on=["school_name", "school_name"])
students_schools_merge_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
#Remove unecessary columns from the DataFrame and save the new DataFrame
# Only Keep: "school_name", "type", "budget", "size", 
#"student_name", "grade","math_score", "reading_score" 
reduced_merge_df = students_schools_merge_df[["school_name", "type", "budget", "size", "student_name", "grade","math_score", "reading_score"]]
renamed_headers_df = reduced_merge_df.rename(columns={"school_name":"School Name", "type":"Type", "budget":"Budget", "size":"Size", "student_name":"Student Name", "grade":"Grade","math_score": "Math Score", "reading_score":"Reading Score"})
renamed_headers_df.head()

,School Name,Type,Budget,Size,Student Name,Grade,Math Score,Reading Score
0,Huang High School,District,1910635,2917,Paul Bradley,9th,79,66
1,Huang High School,District,1910635,2917,Victor Smith,12th,61,94
2,Huang High School,District,1910635,2917,Kevin Rodriguez,12th,60,90
3,Huang High School,District,1910635,2917,Dr. Richard Scott,12th,58,67
4,Huang High School,District,1910635,2917,Bonnie Ray,9th,84,97

In [3]:
#Push the remade DataFrame to a new CSV file
renamed_headers_df.to_csv("Output/district_master_data.csv", encoding="utf-8", index=False, header=True)

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
# New file  to load
district_md_csv_path = "Output/district_master_data.csv"
# Read New file
district_md_df = pd.read_csv(district_md_csv_path, encoding="utf-8")

In [6]:
# District Summary:

# Calculate the total number of schools
school_count= len(district_md_df["School Name"].unique())

#Calculate the total number of students
district_student_count= len(district_md_df["Student Name"])

#Calculate the total budget
district_total_budget = sum(schools_data_df['budget'])

#Calculate the average math score 
district_average_math_score= district_md_df["Math Score"].mean()

#Calculate the average reading score
district_average_reading_score= district_md_df["Reading Score"].mean()

#Calculate the percentage of students with a passing math score (70 or greater)
district_math_pass_count= len(district_md_df.loc[district_md_df["Math Score"]>=70])
district_math_pass_rate= district_math_pass_count/district_student_count * 100

#Calculate the percentage of students with a passing reading score (70 or greater)
district_reading_pass_count= len(district_md_df.loc[district_md_df["Reading Score"]>=70])
district_reading_pass_rate= district_reading_pass_count/district_student_count * 100

#Calculate the percentage of students who passed math and reading (% Overall Passing)
district_overall_pass_count= len(district_md_df.loc[(district_md_df["Math Score"]>=70) & (district_md_df["Reading Score"]>=70)])
district_overall_pass_rate= district_overall_pass_count/district_student_count * 100


#Create a summary DataFrame using the above values
district_summary_df= pd.DataFrame({"Total Number of School":[school_count], 
                                   "Total Number of Students": [district_student_count],
                                   "Total Budget": [district_total_budget], 
                                   "Average Math Score": [district_average_math_score],
                                  "Average Reading Score":[district_average_reading_score],
                                  "% Passing Math":[district_math_pass_rate],
                                  "% Passing Reading": [district_reading_pass_rate],
                                  "% Overall Passing": [district_overall_pass_rate]})
district_summary_df

,Total Number of School,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [7]:
#Push the District Summary DataFrame to a new CSV file
district_summary_df.to_csv("Output/district_summary.csv", encoding="utf-8", index=False, header=True)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [31]:
#Extract the following columns: "School Name", "Type"
schools_data_df = district_md_df[["School Name","Type", "Size","Math Score","Reading Score"]]

# Create a dataframe of each school in the district.
schools_group = schools_data_df.groupby(["School Name"])

#School Comparision
schools_comparison = schools_group.mean()

# Combine the data into a single dataset.  
# schools_data_comparison_merge_df = pd.merge(schools_data_df, schools_comparison_df, how="left", on=["school_name", "school_name"])

#schools_data_comparison_merge_df.head()

schools_comparison

                         Size  Math Score  Reading Score
School Name
Bailey High School     4976.0   77.048432      81.033963
Cabrera High School    1858.0   83.061895      83.975780
Figueroa High School   2949.0   76.711767      81.158020
Ford High School       2739.0   77.102592      80.746258
Griffin High School    1468.0   83.351499      83.816757
Hernandez High School  4635.0   77.289752      80.934412
Holden High School      427.0   83.803279      83.814988
Huang High School      2917.0   76.629414      81.182722
Johnson High School    4761.0   77.072464      80.966394
Pena High School        962.0   83.839917      84.044699
Rodriguez High School  3999.0   76.842711      80.744686
Shelton High School    1761.0   83.359455      83.725724
Thomas High School     1635.0   83.418349      83.848930
Wilson High School     2283.0   83.274201      83.989488
Wright High School     1800.0   83.682222      83.955000

In [ ]:
# School Summary:





student_count= len(_df["School Name"].unique())

#Calculate the total number of students
student_count= len(district_md_df["Student Name"])

#Calculate the total budget
total_budget = sum(schools_df['budget'])

#Calculate the average math score 
district_average_math_score= district_md_df["Math Score"].mean()

#Calculate the average reading score
district_average_reading_score= district_md_df["Reading Score"].mean()

#Calculate the percentage of students with a passing math score (70 or greater)
district_math_pass_count= len(district_md_df.loc[district_md_df["Math Score"]>=70])
district_math_pass_rate= district_math_pass_count/district_student_count * 100

#Calculate the percentage of students with a passing reading score (70 or greater)
district_reading_pass_count= len(district_md_df.loc[district_md_df["Reading Score"]>=70])
district_reading_pass_rate= district_reading_pass_count/district_student_count * 100

#Calculate the percentage of students who passed math and reading (% Overall Passing)
district_overall_pass_count= len(district_md_df.loc[(district_md_df["Math Score"]>=70) & (district_md_df["Reading Score"]>=70)])
district_overall_pass_rate= district_overall_pass_count/district_student_count * 100


#Create a summary DataFrame using the above values
school_summary_df= pd.DataFrame({"School Name":[school_name], 
                                   "School Type": [school_type],
                                   "Total Budget": [School_total_budget], 
                                   "Average Math Score": [district_average_math_score],
                                  "Average Reading Score":[district_average_reading_score],
                                  "% Passing Math":[district_math_pass_rate],
                                  "% Passing Reading": [district_reading_pass_rate],
                                  "% Overall Passing": [district_overall_pass_rate]})
district_summary_df

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type